.how {
    grid-area: How;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-gap: 75px;
    grid-template-areas:
        "title"
        "step1"
        "step2"
        "step3";
}

@media(min-width: 1024px) {
    .how {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title . ."
            "step1 step2 step3";
    }
}

.title {
    grid-area: title;
}

.step1 {
    grid-area: step1;
}

.step2 {
    grid-area: step2;
}

.step3 {
    grid-area: step3;
}



