.what {
    grid-area: What;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 100px;
    justify-self: center;
}

@media(min-width: 1024px) {
    .what {
        grid-template-columns: 2fr 1fr;
    }
}

