.app {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas:
        "."
        "main"
        "nav"
        "."
        ".";
}

.logo {
    grid-area: main;
    justify-self: center;
    align-self: end;
}

.nav {
    grid-area: nav;
    text-align: center;
    justify-self: center;
}