.app {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas:
        "hero"
        "content";
    grid-template-rows: 1fr 1fr;
    grid-gap: 150px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-areas:
        "What"
        "Why"
        "How"
        "Footer";
    grid-gap: 90px;
    padding: 0 30px 0 30px;
    line-height: 1.5;
}

.content h1 {
    font-size: 35px;
    padding-bottom: 10px;
}

@media(min-width: 720px) {
    .content {
        grid-gap: 120px;
        padding: 0 50px 0 50px;
        line-height: 2;
    }
}
