.app {
    width: 100vw;
    height: auto;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas:
        "hero"
        "content"
        "footer";
    grid-gap: 170px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-areas:
        "What"
        "Why"
        "How";
    padding: 0 30px 0 30px;
    line-height: 1.5;
}

.content h1 {
    font-size: 35px;
    padding-bottom: 10px;
}

@media(min-width: 720px) {
    .content {
        padding: 0 50px 0 50px;
        line-height: 2;
    }
}