.footer {
    grid-area: Footer;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px;
    justify-content: center;
    grid-template-areas:
        "email twitter facebook";
    padding: 0px 0 100px 0;
}

.email {
    grid-area: email
}

.twitter {
    grid-area: twitter
}

.facebook {
    grid-area: facebook
}
